<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalendarService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58492/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalendarService" contract="RemoteServiceReference.ICalendarService"
                name="BasicHttpBinding_ICalendarService" />

<!-- test iisexpress
          <endpoint address="http://localhost:8081/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalendarService" contract="RemoteServiceReference.ICalendarService"
                name="BasicHttpBinding_ICalendarService" />
                -->

        </client>
    </system.serviceModel>
</configuration>
